<admin-navigation></admin-navigation>
<br><br><br>
<div class="container">
    <h2>Lista de mensajes</h2>
    <p>Es la lista donde se encuentra todos los mensajes que envian los usuarios</p>
    <div class="d-flex justify-content-between">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="text" placeholder="Buscar" [(ngModel)]="searchText" aria-label="Search" name="search"  autocomplete="off">
        </form>
    </div><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre del usuario</th>
                <th>Correo del usuario</th>
                <th>Celular del usuario</th>
                <th>Asunto del mensaje</th>
                <th>Contenido del mensaje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mensaje of mensajes | paginate: {itemsPerPage: 8, currentPage: page} | filter:searchText">
                <td>{{mensaje.nombre}}</td>
                <td>{{mensaje.correo}}</td>
                <td>{{mensaje.celular}}</td>
                <td>{{mensaje.asunto}}</td>
                <td>{{mensaje.mensaje}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>
