@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

/* Unidades de medida */
.pcs:after { content: " pcs"; }
.cur:before { content: "$"; }
.per:after { content: "%"; }

/* Configuración global */
* { box-sizing: border-box; }

body { padding: 0.2em 2em; }

/* Estilos de tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table td {
  padding: 0.4em;
}

/* Estilos de la tabla con clase fold-table */
table.fold-table tbody tr.view {
  cursor: pointer;
}

table.fold-table tbody tr.view td,
table.fold-table tbody tr.view th {
  position: relative;
}

table.fold-table tbody tr.view td:first-child,
table.fold-table tbody tr.view th:first-child {
  padding-left: 20px;
}

table.fold-table tbody tr.view td:first-child:before,
table.fold-table tbody tr.view th:first-child:before {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 9px;
  height: 16px;
  margin-top: -8px;
  font: 16px fontawesome;
  color: #999;
  content: "\f0d7";
  transition: all 0.3s ease;
}

table.fold-table tbody tr.view:nth-child(4n-1) {
  background: #eee;
}

table.fold-table tbody tr.view:hover {
  background: #000;
}

table.fold-table tbody tr.view.open {
  background: tomato;
  color: white;
}

table.fold-table tbody tr.view.open td:first-child:before,
table.fold-table tbody tr.view.open th:first-child:before {
  transform: rotate(-180deg);
  color: #333;
}

table.fold-table tbody tr.fold {
  display: none;
}

table.fold-table tbody tr.fold.open {
  display: table-row;
}

/* Estilos de fold-content */
.fold-content {
  padding: 0.5em;
}

.fold-content > h3 {
  margin-top: 0;
}

.fold-content > table {
  border: 2px solid #ccc;
}

.fold-content > table tbody tr:nth-child(even) {
  background: #eee;
}

/* Estilos del interruptor on/off */
.onoffswitch {
  position: relative;
  width: 116px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50px;
}

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 41px;
  padding: 0;
  line-height: 41px;
  font-size: 15px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #eee;
  color: #2fccff;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #eee;
  color: #999;
  text-align: right;
}

.onoffswitch-switch {
  width: 38px;
  margin: 1.5px;
  background: #a1a1a1;
  border: 2px solid #fff;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 71px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #2fccff;
}

