<nav class="navbar bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="admin/products">
            <img src="./../../../../assets/img/logo_jolie_jolie.png" alt="logo de la empresa" width="100" height="50">
        </a>
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>